.navbar {
  background-color: darkblue;
  color: white;
}

#dropdown{
  height: 160px;
  border: 2px solid red;
}

#cheeses {
  height: 420px;
  border: 2px solid green;
}

#player {
  height: 420px;
  border: 2px solid blue;
}
